@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
*{
    margin: 0;
}
.sideBar{
    font-family: "Open Sans", sans-serif;
    height: 100vh;
      position: fixed;
    left: 0;
    float: left;
}
.sideBar ul{
    background-color: rgb(13, 37, 85);
    width: 220px;
    margin-right: 250px;
    /* height: 100vh; */
    height: 100%;
    position: fixed;
    left: 0;
    float: left;
    
}
#sidebar{
    display: none;
}
#sidebarClose{
    /* display: none; */
    width: 80px;
}
#sidebarClose ul h1{
    font-size: 14px !important;
    color: whitesmoke;
}
.sideBar ul li{
    list-style: none;
    margin-block: 25%;
    margin-inline: 3%;
    font-size: 17px;
    color: rgb(182, 188, 194);
    font-weight: 500;
}
.sideBar ul li:hover{
    color: rgb(0, 0, 0);

}


.logOut{
   /* margin-top: 45%; */
   /* margin-top: 300px; */

}
.sideBar ul h1{
    font-size: 24px;
    color: whitesmoke;
}
.icons{
    font-size: 20px;
    margin-right: 12px;
    color: rgb(182, 188, 194);
}