@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.product-page-main{
    font-family: "Open Sans", sans-serif;
    margin-left: 250px;
    padding-inline: 4%;
    /* background-color: rgb(235, 186, 210); */
    background-color: rgb(248, 251, 252);
    display: flex;
    flex-wrap: wrap;
    padding-top: 4%;
}
.product-card{
    background-color: rgb(210, 226, 231);
    margin-inline: 2%;
    margin-block: 2%;
    width: 280px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    overflow: hidden;
}
.product-card h2 , .product-card p{
    margin-left: 10%;
    margin-block: 2%;
}
.product-card p{
    font-size: 17px;
}
#image{
    width:100%;
}
#image img{
    width: 100%;
}